*{
    margin: 0;
    box-sizing: border-box;
}

.report-contianer{
    background-color:  #e6e8eb;
    height: 80vh;
    width: 80vw;
    padding-top: 10px;
}
.inside-report-container{
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0.40,0.40,0.40,0.40);
    margin: 20px;
    height: 28%;
    width: 96%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.input-report-container{
    display: flex;
    gap: 2rem;
    padding: 10px;
}
.report-box-container{
   height: 40px;
   width: 230px;
   border-radius: 4px;
   border: 1px solid black;
   padding: 10px;
}
.report-date-container{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.date-from-report{
    font-size: 14px;
}
.date-from-to-report{
    font-size: 14px;
    padding-left: 3rem;   
}
.report-date{
    height: 40px;
    width: 140px;
    font-weight: 500;
    border-radius: 5px;
}
.report-button-container{
    display: flex;
    gap: 20px;
    padding-left: 4rem;
}

.report-submit-button{
    height: 40px;
    width: 90px;
    border-radius: 7px;
    border: 0px;
    background-color:  #039ed6;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    gap: 5px;
}
.report-reset-button{
    height: 40px;
    width: 90px;
    border-radius: 7px;
    border: 0px;
    background-color:  #039ed6;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    gap: 5px;
}
